@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');

.bgnav{
    background: linear-gradient(252deg, rgba(36,35,35,1) 0%, rgba(94,80,67,0.8071603641456583) 56%, rgba(36,35,35,1) 100%);
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    }

//Variables

    $tama침o1: 30px;
    $color:blueviolet;

h1{
font-size: 100px;
}

.logo{
    font-size:$tama침o1;
}

.logo1{
    font-size: 20px;
}

.navbar-brand{
    text-shadow: 0 0 5px black;
    font-weight: bold;
}


.navbar-brand::before{
    content: "游끼";
    font-size: 50px;
}

.jumbotron{
    background-image: url(./img/h1.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    border-radius: 0;    
    height: 500px;
    text-shadow: 0 0 5px white;
    margin: 0;
}



.p-jumbotron{
    font-size: $tama침o1;    
}

.btn-success{
    background-color: grey;
    height: 50px;
    width: 20em;
    border-radius: 20px;
}

.btn-success:hover{
    background-color: $color;
}

.nav-link{
color: white !important;    
text-shadow: 0 0 5px black;
}

.nav-link:hover{
    color:$color !important;
}

.colorspan{color: $color;}


h2{background-color:rgb(36, 35, 35) ;
color: white;
text-align: center;
margin-bottom: 0;
}

.fotos{
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
}

.al{
background-image: url(./img/nosotros1.jpg);
@extend .fotos;
}

.ar{
background-image: url(./img/nosotros2.jpg);
@extend .fotos
}

aside p{
    color: white;
    font-size: 20px;
}

h3{
    text-align: center;
    text-shadow: 0 0 5px white;
    color: white;
    font-size:$tama침o1;
}

p::selection{
        color: #8a2be2;
}

.productos{
background-color: brown;
height: auto;
}

.container-fluid{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

footer{
    background: linear-gradient(252deg, rgba(36,35,35,1) 0%, rgba(94,80,67,0.8071603641456583) 56%, rgba(36,35,35,1) 100%);
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    font-size: 50px;
}

.redes{
    font-size: 50px;
    letter-spacing: 20px;
}



//   /* Nosotros */

.ancho{
width: 100%;
}

.ar1{
height: 400px;   
background: linear-gradient(252deg, rgba(36,35,35,1) 0%, rgba(94,80,67,0.8071603641456583) 56%, rgba(36,35,35,1) 100%); 
}

.al1{
background-image: url(./img/n5.jpg);
@extend .fotos;
}

//cotizatuseguro

.sectionB{
	width: 50%;
	height: auto;	
	margin-left: 300px;
	padding: 30px;
	border: dashed 2px grey;
	overflow: auto;
    margin-bottom: 100px;
    font-size:$tama침o1;
	
	}

fieldset {
		width: 100%;
		margin: 1rem;

}

.margin-top{
	margin-top: 3rem;
}

.contacto{
	margin: 3rem; 
	padding: auto;	
}

.colorcotiza{
    background: linear-gradient(252deg, rgb(235, 224, 224) 0%, rgba(233, 183, 136, 0.807) 56%, rgb(226, 220, 220) 100%);
}

.label{
    border-radius: 30px;
}

.label1{
    margin-top: 20px;
    padding: 5px;
}

//FIN cotizatuseguro

//CONTACTO
.jumbotron1{
    background-image: url(img/CONTACTO.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    border-radius: 0;    
    height: 500px;
    text-shadow: 0 0 5px white;
    margin: 0;
}

//NOVEDADES

.jumbotron2{
    background-image: url(img/NOVEDADES.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    border-radius: 0;    
    height: 500px;
    text-shadow: 0 0 5px white;
    margin: 0;
}